version: '3'

volumes:
  certs:
  html:
  vhostd:

services:

  nginx-proxy:
    image: jwilder/nginx-proxy:latest
    container_name: nginx-proxy
    restart: always
    labels:
      com.github.jrcs.letsencrypt_nginx_proxy_companion.nginx_proxy: "true"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - vhostd:/etc/nginx/vhost.d
      - html:/usr/share/nginx/html
      - certs:/etc/nginx/certs:ro
      - /var/run/docker.sock:/tmp/docker.sock:ro

  nginx-proxy-letsencrypt:
    image: jrcs/letsencrypt-nginx-proxy-companion:latest
    container_name: nginx-proxy-letsencrypt
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - certs:/etc/nginx/certs
      - vhostd:/etc/nginx/vhost.d
      - html:/usr/share/nginx/html
    depends_on:
      - nginx-proxy
    environment:
      - DEFAULT_EMAIL=${LETSENCRYPT_EMAIL}
      - NGINX_PROXY_CONTAINER=nginx-proxy

  frontend:
    container_name: frontend
    image: ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_DEFAULT_REGION}.amazonaws.com/velmie/wallet-frontend:9748321e39a10e08cba0b62c40bcf855fe76486e
    restart: always
    env_file:
      - .env
    #    ports:
    #      - "80:80"
    depends_on:
      - nginx-proxy
    environment:
      - VIRTUAL_HOST=${LETSENCRYPT_FRONTEND_VIRTUAL_HOST}
      - LETSENCRYPT_HOST=${LETSENCRYPT_FRONTEND_VIRTUAL_HOST}
