certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
future==0.18.2
gitdb==4.0.5
idna==2.10
oauthlib==2.1.0
pybitbucket==0.12.0
python-dotenv==0.15.0
requests==2.24.0
requests-oauthlib==0.8.0
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
simplejson==3.17.2
six==1.15.0
smmap==3.0.4
uritemplate==0.6
urllib3==1.25.10
voluptuous==0.11.7
